* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(39, 39, 39, 0);
    color: #928374;
}

tooltip {
    background: #2e3440;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #d8dee9;
}

#workspaces button {
    padding: 5px;
    color: #e5e9f0;
    margin-right: 5px;
}

#workspaces button.active {
    color: #81a1c1;
}

#workspaces button.focused {
    color: #2e3440;
    background: #81a1c1;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cc241d;
    background: #458588;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #d8dee9;
    color: #2e3440;
    border-radius: 15px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#memory,
#custom-clock,
#wlr-workspaces,
#custom-logo,
#custom-nordswitcher,
#custom-gruvswitcher{
    background: #2e3440;
    padding: 0px 10px;
    margin: 1px 0px;
    margin-top: 10px;
    border: 2px solid #81a1c1;
	border-radius: 15px;
}

#custom-status,
#custom-prev,
#custom-play,
#custom-pause,
#custom-next,
#custom-song,
#custom-artist {
    background: #2e3440;
    padding: 0px 5px;
    margin: 1px 0px;
    margin-top: 10px;
	border: 2px solid #81a1c1;
	border-radius: 15px;
	color: #e5e9f0;
}

#custom-status:hover,
#custom-prev:hover,
#custom-play:hover,
#custom-pause:hover,
#custom-next:hover,
#custom-song:hover,
#custom-artist:hover {
    padding: 0px 5px;
    margin: 1px 0px;
    margin-top: 10px;
    background: red;
}

#tray {
    border-radius: 15px;
    margin-right: 10px;
}

#workspaces {
    background: #2e3440;
    border-radius: 15px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-nordswitcher,
#custom-gruvswitcher {
		color: #d8dee9;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

#cpu, #memory {
    color: #a3be8c;
    margin-left: 5px;
    border-right: 0px;
	border-radius: 15px;
}

#custom-logo {
		color: #98971a;
		border-radius: 15px;
		margin-left: 5px;
		border-right: 0px;
}

#clock, #custom-clock {
    color: #d08770;
    border-radius: 15px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #bf616a;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #5e81ac;
    border-left: 0px;
    border-right: 0px;
    border-radius: 15px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
