* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(39, 39, 39, 0);
    color: #928374;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #928374;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ebdbb2;
}

#workspaces button.focused {
    color: #928374;
    background: #fbf1c7;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #fbf1c7;
    color: #928374;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#memory,
#custom-clock
#wlr-workspaces{
    background: #272727;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 2px solid #928374;
}

#custom-status,
#custom-prev,
#custom-play,
#custom-pause,
#custom-next,
#custom-song,
#custom-artist {
    padding: 0px 5px;
    margin: 1px 0px;
    margin-top: 10px;
}

#custom-status:hover,
#custom-prev:hover,
#custom-play:hover,
#custom-pause:hover,
#custom-next:hover,
#custom-song:hover,
#custom-artist:hover {
    padding: 0px 5px;
    margin: 1px 0px;
    margin-top: 10px;
    background: red;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #272727;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#cpu, #memory {
    color: #9ECE6A;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#clock, #custom-clock {
    color: #fab387;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
